{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
    {% trans "Iniciar Sesión" %}
{% endblock head_title %}
{% block content %}
    <main class="login-main">
        <div class="container">
            <section class="login-section">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7 col-sm-9">
                        <div class="login-card">
                            <h3 class="text-center mb-4">{% trans "Iniciar Sesión" %}</h3>
                            {% get_providers as socialaccount_providers %}
                            {% if socialaccount_providers %}
                                <div class="social-login mb-4">
                                    <p class="text-center mb-3">
                                        {% blocktrans with site.name as site_name %}
                                            Usa tu cuenta de Gmail para registrarte e iniciar sesión. O
                                            <a href="{{ signup_url }}" class="btn-link">"regístrate"</a>
                                            en {{ site_name }} para crear una cuenta y luego iniciar sesión:
                                        {% endblocktrans %}
                                    </p>
                                    <div class="social-buttons d-flex justify-content-center mb-4">
                                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                    </div>
                                    <div class="text-center my-3">
                                        <span class="or-text">{% trans 'o' %}</span>
                                    </div>
                                    {% include "socialaccount/snippets/login_extra.html" %}
                                </div>
                            {% else %}
                                <p class="text-center mb-3">
                                    {% blocktrans %}¿Cliente Nuevo? <a href="{{ signup_url }}" class="btn-link">"Regístrate"</a>{% endblocktrans %}
                                </p>
                            {% endif %}
                            <form class="login-form" method="POST" action="{% url 'account_login' %}" role="form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <button class="btn btn-primary btn-block mt-3" type="submit">
                                    {% trans "Iniciar Sesión" %}
                                </button>
                                <div class="text-center mt-3">
                                    <a class="btn btn-link" href="{% url 'account_reset_password' %}">
                                        {% trans "¿Olvidaste tu contraseña?" %}
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
