{% extends "account/base_entrance.html" %}
{% load allauth i18n crispy_forms_tags %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}

{% block content %}
    <main class="register-main">
        <div class="container">
            <section class="register-section mb-4">
                <div class="row justify-content-center">
                    <div class="register-card col-md-8 col-lg-6">
                        <h1 class="text-center mb-4">{% trans "Sign Up" %}</h1>

                        <p class="text-center mb-4">
                            ¿Ya tienes una cuenta? Por favor, haz clic en <a href="{% url 'account_login' %}" class="btn-link">"Iniciar Sesión"</a>.
                        </p>

                        {% if not SOCIALACCOUNT_ONLY %}
                            <form method="post" action="{% url 'account_signup' %}" class="form-signup">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {{ redirect_field }}
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <button type="submit" class="btn btn-primary mt-3 col-2">
                                            {% trans "Sign Up" %}
                                        </button>
                                        <button type="button" id="togglePassword" class="btn btn-secondary mt-3 col-4 text-center">
                                            👁️ Ver contraseñas
                                        </button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </section>
            <script>
                document.getElementById('togglePassword').addEventListener('click', function () {
                    const passwordInput1 = document.getElementsByName("password1")[0];
                    const passwordInput2 = document.getElementsByName("password2")[0];

                    const type = passwordInput1.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput1.setAttribute('type', type);
                    passwordInput2.setAttribute('type', type);
                    this.textContent = type === 'password' ? '👁️ Ver contraseñas' : '👁️‍🗨️ Ocultar contraseñas'; // Cambia el icono según el estado
                });
            </script>
        </div>
    </main>
{% endblock content %}
