{% load static %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
        <div class="container-xxl">
            <a class="navbar-brand" href="{% url 'website:index' %}">
            <img src="{% static 'images/distribuidoraHGO.ico' %}" alt="Logo" class="d-inline-block align-text-top icono-navbar">
            </a>
            <div class="account_cart_movil">
                <a href="{% url 'account_login' %}">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
            <div class="formSearchMovil">
                <input type="text" class="inputSearchMovil" placeholder="¿Algún producto?">
                <button class="btnSearchMovil">
                  <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="account_cart_movil">
                <a href="{% url 'cart:cart_detail' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-lg-auto ms-lg-0 me-0 ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" id="navSecond" aria-current="page" href="{% url 'website:index' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="navSecond" href="{% url 'website:aboutus' %}">¿Quienes Somos?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="navSecond" href="{% url 'store:products_list'%}">Productos</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navSecond" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorías
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex ms-auto me-auto mb-0" role="search" id="formSearch">
                    <input id="form_navbarSearch" class="form-control me-1" type="search" placeholder="¿Buscas algún producto o marca?" aria-label="Search">
                    <button id="btn_navbarSearch" class="btn btn-outline-success" type="submit"><i class="fa-brands fa-searchengin"></i></button>
                </form>
                <ul class="navbar-nav navbar2 me-lg-auto ms-lg-0 me-0 ms-0 mb-2 mb-lg-0 mt-1">
                    <li class="nav-item">
                        <a id="navSecond" class="nav-link" href="{% url 'account_login' %}">
                            <i class="fa-solid fa-user"></i>
                            <span>
                                {% if user.is_authenticated %}
                                    {{user.first_name}} {{user.last_name}}
                                {% else %}
                                    Iniciar Sesión
                                {% endif %}
                            </span> <!--Texto dinamico -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="navSecond" class="nav-link" href="{% url 'cart:cart_detail' %}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>
                                {% if carrito|length > 0 %}
                                {{carrito|length}} ${{carrito.get_total_price|floatformat:2}}
                                {% else %}
                                Sin Productos
                                {% endif %}
                            </span><!--Texto dinamico -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://wa.me/527714336319">
                            <i id="navSecond" class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/DistribuidoraQuimicaHGO">
                            <i id="navSecond" class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                </ul>
              </div>
        </div>
    </nav>
{% endblock %}
