{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if carrito|length > 0 %}
    <div class="container cart-list mb-4 h-100">
        <h3 class="text-center my-4 fw-bold p-3 rounded shadow-sm">Carrito de compra</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col"></th>
                        <th scope="col">Precio unitario</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carrito %}
                        {% with producto=item.producto %}
                        <tr>
                            <td class="text-center align-middle">
                                <a href="{{ producto.get_absolute_url }}">
                                    <img src="{% if producto.ImagenArticulo %}{{ producto.ImagenArticulo.url }}
                                                {% else %}{% static 'img/no-image.jpg' %}{% endif %}"
                                         class="img-fluid" style="max-width: 100px;">
                                </a>
                            </td>
                            <td class="align-middle fw-bolder">{{ producto.NombreArticulo }}</td>
                            <td class="align-middle">
                                <form action="{% url 'cart:add_cart' producto.IdArticulo %}" method="post" class="form-inline">
                                    <input type="number" name="quantity" value="{{ item.form_refresh.quantity.value }}" class="form-control">
                                    <input type="hidden" name="override" value="{{ item.form_refresh.override.value }}" class="form-control">
                                    <input type="submit" action="action" value="Actualizar" class="btn btn-outline-primary">
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="align-middle text-center">
                                <form action="{% url 'cart:remove_cart' producto.IdArticulo %}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </button>
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td class="align-middle text-right">${{ item.precio|floatformat:"2u" }}</td>
                            <td class="align-middle text-right">${{ item.precio_total|floatformat:"2u" }}</td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr class="total fw-bold">
                        <td>Total</td>
                        <td colspan="4"></td>
                        <td class="text-right">${{ carrito.get_total_price|floatformat:"2u" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <a href="{% url 'store:products_list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Continuar comprando
            </a>
            <a href="{% url 'orders:add_order' %}" class="btn btn-success">
                <i class="fas fa-check"></i> Procesar compra
            </a>
        </div>
    </div>
{% else %}
    <div class="container no-cart-message">
        <h3>Tu carrito está vacío</h3>
        <img src="{% static 'images/carro-vacio.png' %}" alt="Carrito vacío" class="no-cart-image">
    </div>
{% endif %}

{% endblock %}
