:root{
    --color-secondary-white: white;
    --color-primary-button: #0096c7;
    --color-secondary-button: #00B4D8;
}

.box {
    transform: translateX(400%);
    transition: transform 2s ease;
  }

  .box:nth-of-type(even) {
    transform: translateX(-400%);
  }

  .box.show {
    transform: translateX(0);
  }

  .containerCards {
    display: flex;
    overflow: hidden;
  }

  div.containerCards #card1{
    background-image: url("../images/vacutainerBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.containerCards #card1 a{
    text-decoration: none;
  }

  div.containerCards #card1 h3{
    font-size: 30px;
    font-weight: 600;
    font-style: oblique;
    color: white;
  }

  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }

  .panel.active {
    flex: 5;
  }

  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }

  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }

/*Swipers*/
.principal{
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho del viewport */
    background-image: url("../images/Presentacion.jpg");
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-bottom: 6%;
}

.principal::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Cambia los valores RGBA según la opacidad y el color deseado*/
}

#swiperMarcas{
    background-image: url("../images/bannerMarcas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40%;
}

#swiperMetodosPago{
    background-image: url("../images/metodosPago.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40%;
}

#swiperEnvios{
    background-image: url("../images/envios.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40%;
}

#swiperCat1{
    background-image: url("../images/tubosVacutainer.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat2{
    background-image: url("../images/agujasVacutainer.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat3{
    background-image: url("../images/lancetasBD.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat4{
    background-image: url("../images/GuantesAmbiderm.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat5{
    background-image: url("../images/gasasGalia.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat6{
    background-image: url("../images/reactivos.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat7{
    background-image: url("../images/desinfectantes.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat8{
    background-image: url("../images/pruebasOrina.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

#swiperCat9{
    background-image: url("../images/Antidopping.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 30%;
}

.paymentMethods{
    padding-top:22%;
    background-image: url("../images/FormasPago.jpg");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#button_container{
    position:absolute;
    top: 16%;
    left: 78%;
}

/*Logo de la barra superio de Busqueda*/

#imagePresentation{
    display: none;
    width: 50%;
    filter: drop-shadow(
    0 0 12px rgba(255,255,255,1)
   );
}

.slogan{
    display: none;
    margin-top: 2%;
    font-family: "Sedan", serif;
    font-style: italic;
    font-size: 4rem;
    filter: drop-shadow(
    0 0 8px rgba(255,255,255,1));

    color:#0077b6;

}

.imageLogo{
   padding-top: 5%;
   animation: fadeInDown;
   animation-duration: 6s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*Boton para acceder a la tienda del Swiper de Formas de Pago*/

.buttonStore{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 1.5rem 5%;
    background: var(--color-primary-button);
    color: var(--color-secondary-white);
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    border: 0;
    border-radius: 0.4rem;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    appearance: none;
    cursor: pointer;
    transition: background 250ms, box-shadow 250ms;
}

.buttonStore:hover {
    background: var(--color-secondary-button);
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
  }

.buttonStore:active {
    box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
  }

.buttonStore:active,
  .buttonStore:focus {
    outline: none;
  }

/* Botones de navegacion del Swiper de Categorias ocultos*/

.products .swiper-button-prev{
    visibility: hidden;
}

.products .swiper-button-next{
    visibility: hidden;
}

/*Texto Titulo Categorias*/

.cat-title{
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    background: var(--color-primary-button);
    color: var(--color-secondary-white);
    border-radius: 10px 10px 10px 10px;
    border-bottom: 5px outset #000000;
}

.cat-title h2{
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
}
.cat-subtitle{
    font-size: 2.2rem;
    font-family: 'Monserrat', sans-serif;
    font-weight: 800;

}

/*Boton Ver Mas*/

.buttonSeeMore{
    padding: 1rem 10%;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    border: 0;
    border-radius: 0.4rem;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    appearance: none;
    transition: background 250ms, box-shadow 250ms;
    background: var(--color-primary-button);
    color: var(--color-secondary-white);
}

.buttonSeeMore:hover {
    background: var(--color-secondary-button);
    box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);
  }

.buttonSeeMore:active {
    box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.8);
  }

.buttonSeeMore:active,
  .buttonSeeMore:focus {
    outline: none;
  }

/* Media query para dispositivos pequeños (como teléfonos) */

  @media only screen and (max-width: 600px) {

    #swiperPrincipal{
        padding-bottom: 40%;
    }

    #button_container{
        top: 16%;
        left: 75%;

    }

    .box{
        transition: transform 4s ease;
    }

    .panel{
        height: 20vh;
        width: 100%;
    }

    .buttonStore{
        padding: 0.5rem 3%;
        font-weight: 600;
        font-size: 0.6rem;
    }

    .buttonSeeMore{
        padding: 0.5rem 0.5rem;
        font-weight: 600;
        font-size: 0.6rem;
    }

    .principal{
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 70%, rgba(14,101,166,0.24413515406162467) 100%);
        margin-top: 15%;
        padding-bottom: 5%;
        width: 100%;
    }

    .principal::before{
        background-color: rgba(0, 0, 0, 0); /* Cambia los valores RGBA según la opacidad y el color deseado*/
    }

    #swiperMetodosPago{
        padding-bottom: 40%;
    }

    #swiperEnvios{
        padding-bottom: 40%;
    }

    .swiper-button-prev, .swiper-button-next{
        visibility: hidden;
    }

    .cat-title{
        border-bottom: 3px outset #000000;
        padding-top: 0.4rem;
        padding-bottom: 0px;
    }
    .cat-title h2{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .cat-subtitle{
        font-size: 0.6rem;
        font-weight: 600;
        font-family: 'Monserrtar', sans-serif;
    }

    div.containerCards #card1 h3{
        font-size: 1rem;
    }

    .slogan{
        font-size:1.2rem
    }

    #imagePresentation{
        width: 70%;
        height: auto;
    }

  }

  /* Media query para dispositivos medianos (como tablets) */

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    #swiperPrincipal{
        padding-bottom: 40%;
    }

    #button_container{
        top: 16%;
        left: 76%;

    }

    .box{
        transition: transform 4s ease;
    }

    .panel{
        height: 30vh;
    }

    .buttonStore{
        padding: 1rem 5%;
        font-weight: 700;
        font-size: 1.1rem;
    }

    .buttonSeeMore{
        padding: 0.8rem 8%;
        font-weight: 700;
        font-size: 1rem;
    }

    .principal{
        background-size: 135%;
        padding-top: 4.5em;
    }

    div.containerCards #card1 h3{
        font-size: 1.8rem;
    }

    #swiperMetodosPago{
        padding-bottom: 40%;
    }

    #swiperEnvios{
        padding-bottom: 40%;
    }

    .swiper-button-prev, .swiper-button-next{
        visibility: hidden;
    }

    .cat-title{
        padding-top: 0.4rem;
        padding-bottom: 0px;
    }

    .cat-title h2{
        font-size: 1.9rem;
        letter-spacing: 0.2rem;
    }

    .cat-subtitle{
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Monserrat', sans-serif;
    }

    #imagePresentation{
        width: 50%;
        height: auto;
    }

    .slogan{
        font-size:1.9rem;
    }

  }


  @media only screen and (min-width: 1025px) and (max-width:1300px){
    #button_container{
        top: 16%;
        left: 77%;
    }
    #swiperPrincipal{
        padding-bottom: 40%;
    }

    #swiperMetodosPago{
        padding-bottom: 40%;
    }

    #swiperEnvios{
        padding-bottom: 40%;
    }

    .panel{
        height: 40vh;
    }

  }

  @media screen and (min-width: 1800px) {
    #button_container{
        top: 15vh;
        left: 75vw;

    }

    .buttonStore{
        padding: 2rem 6rem;
        font-size: 2.8rem;
        font-weight: 700;
    }
  }
