*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

#navbar{
    background: rgb(255,255,255) !important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,177,255,1) 100%) !important;
    font-weight: 700;
}

.icono-navbar{
    width:120px;
    height:72px;
}

.navbar-toggler {
    background-color: white !important; /* Cambia el color de fondo del botón */
    color: black !important; /* Cambia el color del texto del botón */
    /* Otros estilos que desees aplicar */
}

#form_navbarSearch{
    width: 18em;
}
#btn_navbarSearch{
    border: none;
    color: black;
}

/*Botones del segundo navbar*/
#navSecond:hover{
    background-color: black;
    color: white !important;
}
/*Icono de busqueda rapida*/
.fa-searchengin{
    font-size: 1.5em;
}

/*Icono de Whatsapp*/
.fa-whatsapp{
    font-size: 1.8em;
    color:green;
    background-color: transparent;
    border-radius: 50%;
}
/*Icono de Facebook*/
.fa-facebook{
    font-size: 1.8em;
    border-radius: 100%;
    background-color: white;
    color:#3b5998;
}

#btn_navbarSearch:hover {
    background-color: black; /* Cambia el color de fondo cuando se pasa el mouse */
    color: #fff; /* Cambia el color del texto cuando se pasa el mouse */
    /* Otros estilos que desees aplicar al pasar el mouse sobre el botón */
  }

/*footer*/
.div_footer{
    margin-left: 0;
}

.img-footer{

}

/*Medias querys*/
/*NavBar*/
@media screen and (min-width: 748px) and (max-width: 1200px){
    .icono-navbar{
        width:85px;
        height:48px;
    }
}

@media screen and (max-width: 720px){
    .icono-navbar{
        width:50px;
        height:24px;
    }
}
