{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="product shadow-sm text-center">
                <div class="product-body">
                    <h3 class="product-title text-center">{{ articulo.NombreArticulo }}</h3>
                    <h4 class="product-subtitle text-muted text-center mt-2">
                        <a href="{{ articulo.IdCategoria.get_absolute_url }}" class="text-decoration-none text-muted">
                            {{ articulo.IdCategoria.DescripcionCategoria }}
                        </a>
                    </h4>
                </div>
                <img src="{% if articulo.ImagenArticulo %}{{ articulo.ImagenArticulo.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}"
                     class="product-img-top img-fluid"
                     alt="{{ articulo.NombreArticulo }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="product shadow-sm">
                <div class="product-body">
                    <h5 class="product-title">Descripción</h5>
                    <hr>
                    <p class="product-text">{{ articulo.DescripcionArticulo }}</p>
                    <hr>
                    <div class="container mt-3">
                        <p class="price text-success text-start h4">$ {{ precio|floatformat:"2u" }} MXN</p>
                        <form action="{% url 'cart:add_cart' articulo.IdArticulo %}" method="post" class="mt-4 mb-4">
                        {{ form_carrito }}
                        {% csrf_token %}
                            <div class="mt-4">
                                <button type="submit" name="action" value="add" class="btn btn-success">
                                    <i class="fas fa-cart-plus"></i> Añadir al carrito
                                </button>
                                <button type="submit" name="action" value="buy" class="btn btn-warning">
                                    <i class="fas fa-shop"></i> Comprar
                                </button>
                            </div>
                        </form>
                        <p class="fw-bold fs-6 mt-4"><small>*Todos nuestros precios ya incluyen IVA<small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
