{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div style="height: 550px;" class="col-sm-3">
                <h3>Categorias</h3>
                <ul>
                    <li {% if not categoria %} class="selected" {% endif %}>
                        <a href="{% url 'store:products_list' %}">Todos</a>
                    </li>
                    {% for c in categorias %}
                        <li {% if categoria.SlugCategoria == c.SlugCategoria %} class="selected" {% endif %}>
                            <a href="{{c.get_absolute_url }}">{{ c.DescripcionCategoria }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                <div id="main" class="product-list">
                    <h3>{% if categoria %}{{categoria.DescripcionCategoria}}
                        {% else %}Productos{% endif %}
                    </h3>
                    {% for articulo in articulos %}
                        <div class="item">
                            <a href="{{articulo.get_absolute_url}}">
                                <img src="{% if articulo.ImagenArticulo %}{{articulo.ImagenArticulo.url}}
                                            {% else %}{% static "images/no-image.jpg" %}{%endif%}" style="width:20%;height:20%">
                            </a>
                            <a href="{{ articulo.get_absolute_url }}">{{articulo.NombreArticulo }}</a>
                            <br>
                            {% for precio in precios %}
                                {% if articulo.IdArticulo == precio.IdArticulo%}
                                    <p>$ {{precio.PrecioArticulo|floatformat:2}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}
