{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid ms-md-2 mt-4">
    <div class="row">
        <div class="col-md-2 list-categories pt-2 {% if busquedaLike %}d-none{% endif %}">
            <h3 class="mb-3 text-center products-subtitles">Categorías</h3>
            <ul class="list-group">
                <a href="{% url 'store:products_list' %}" class="text-decoration-none">
                    <li class="list-group-item {% if not categoria %}active{% endif %}">
                        Todas
                    </li>
                </a>
                {% for c in categorias %}
                        <a href="{{ c.get_absolute_url }}" class="text-decoration-none">
                            <li class="list-group-item {% if categoria.SlugCategoria == c.SlugCategoria %}active{% endif %}">
                                {{ c.DescripcionCategoria }}
                            </li>
                        </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9 pt-2 list-products">
            <h3 class="mb-4 products-subtitles">
                {% if articulos %}
                    {% if categoria %}{{ categoria.DescripcionCategoria }}
                    {% else %}Productos{% endif %}
                {% else %}
                    Sin coincidencias en la busqueda
                {% endif %}
            </h3>
            <div class="row list-list-products">
                {% for articulo in articulos %}
                    <div class="col-lg-4 col-12 col-sm-12 mb-4">
                        <div class="card h-100 mx-auto">
                            <a href="{{ articulo.get_absolute_url }}" class="">
                                <img src="{% if articulo.ImagenArticulo %}{{ articulo.ImagenArticulo.url }}{% else %}{% static 'images/no-image.jpg' %}{% endif %}"
                                     alt="{{ articulo.NombreArticulo }}" class="card-img-top" loading="lazy">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ articulo.get_absolute_url }}" class="text-decoration-none text-dark">{{ articulo.NombreArticulo }}</a>
                                </h5>
                                {% for precio in precios %}
                                    {% if articulo.IdArticulo == precio.IdArticulo%}
                                        <p class="card-text text-success">$ {{precio.PrecioArticulo|floatformat:"2u"}} MXN</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-footer text-center">
                                <form action="{% url 'cart:add_cart' articulo.IdArticulo %}" method="post" class="d-inline mt-4">
                                    {% csrf_token %}
                                        <button type="submit" name="action" value="add" class="btn btn-success mt-2">
                                            <i class="fas fa-cart-plus"></i> Añadir al carrito
                                        </button>
                                        <button type="submit" name="action" value="buy" class="btn btn-warning mt-2">
                                            <i class="fas fa-shop"></i> Comprar
                                        </button>
                                </form>
                                <div class="container mt-2 col-5 col-md-6 text-center">
                                    <a href="{{ articulo.get_absolute_url }}" class="btn btn-primary d-block btn-seemore">Ver más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
